asgiref==3.8.1
Django==5.1.5
django-ckeditor==6.7.2
django-cuser==2017.3.16
django-js-asset==3.0.1
django-modeltranslation==0.19.12
django-resized==1.0.3
django-tinymce==4.1.0
pillow==11.1.0
python-dotenv==1.0.1
sqlparse==0.5.3
