{% extends 'base.html' %}
{% load static %}

{% block content1 %}
<div class="breadcrumb-area">
    <div class="container">
        <div class="breadcrumb-content">
            <ul>
                <li><a href="{% url 'shop:home' %}">Home</a></li>
                <li class="active">Forgot Password</li>
            </ul>
        </div>
    </div>
</div>

<div class="page-section mb-60">
    <div class="container">
        <div class="col-sm-12 col-md-12 col-lg-6 offset-lg-3">
            <div class="login-form">
                <h4 class="login-title">Reset Password</h4>
                <div class="row">
                    <div class="col-12 mb-20">
                        {% if messages %}
                        {% for message in messages %}
                        <p style="color: {% if message.tags == 'error' %}red{% else %}green{% endif %};">
                            {{ message }}
                        </p>
                        {% endfor %}
                        {% endif %}

                        <form method="POST">
                            {% csrf_token %}

                            <!-- Email Kiritish -->
                            {% if step == 'email' %}
                            <label for="email">Enter your email to update your password.</label>
                            <input class="mb-0" type="email" name="email" required placeholder="Enter your email">
                            <button type="submit" class="register-button mt-5">Send Code</button>

                            <!-- OTP Kiritish -->
                            {% elif step == 'otp' %}
                            <label for="otp_code">Enter the code sent to your email</label>
                            <input class="mb-0" type="text" name="otp_code" required placeholder="Enter CODE">
                            <button type="submit" class="register-button mt-5">Confirm</button>

                            <!-- Parolni Tiklash -->
                            {% elif step == 'reset_password' %}
                            <label for="new_password">New Password</label>
                            <input class="mb-0" type="password" name="new_password" required placeholder="Enter new password">
                            
                            <label for="confirm_password">Confirm Password</label>
                            <input class="mb-0" type="password" name="confirm_password" required placeholder="Confirm new password">
                            
                            <button type="submit" class="register-button mt-5">Update Password</button>
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content1 %}
