{% extends 'base.html' %}
{% load static %}
{% block content1 %}
<div class="breadcrumb-area">
    <div class="container">
        <div class="breadcrumb-content">
            <ul>
                <li><a href="{% url 'shop:home' %}">Home</a></li>
                <li class="active">Login Register</li>
            </ul>
        </div>
    </div>
</div>
<div class="page-section mb-60">
    <div class="page-section mb-60">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-xs-12 col-lg-6 mb-30">
                    <!-- Login Form -->
                    <form method="post" action="{% url 'shop:login' %}">
                        {% csrf_token %}
                        <div class="login-form">
                            <h4 class="login-title">Login</h4>
                            <div class="row">
                                <div class="col-md-12 col-12 mb-20">
                                    <label for="id_username">Email Address or username</label>
                                    <input class="mb-0" type="text" name="username" id="id_username" name="username"
                                        placeholder="Email Address">
                                </div>
                                <div class="col-12 mb-20">
                                    <label for="id_password">Password</label>
                                    <input class="mb-0" type="password" name="password" id="id_password" name="password"
                                        placeholder="Password">
                                    {% if messages %}
                                    <div class="input-error">
                                        {% for message in messages %}
                                        <p>{{ message }}</p>
                                        {% endfor %}
                                    </div>
                                    {% endif %}
                                </div>
                                <div class="col-md-8">
                                    <div class="check-box d-inline-block ml-0 ml-md-2 mt-10">
                                        <input type="checkbox" id="remember_me">
                                        <label for="remember_me">Remember me</label>
                                    </div>
                                </div>
                                <div class="col-md-4 mt-10 mb-20 text-left text-md-right">
                                    <a href="#"> Forgotten password?</a>
                                </div>
                                <div class="col-md-12">
                                    <button class="register-button mt-0"  style="cursor: pointer;" type="submit">Login</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="col-sm-12 col-md-12 col-lg-6 col-xs-12">
                    <!-- Register Form -->
                    <form  method="post" action="{% url 'shop:register' %}" onsubmit="handleSubmit(event)">
                        {% csrf_token %}
                        <div class="login-form">
                            <h4 class="login-title">Register</h4>
                            <div class="row">
                                <div class="col-md-6 col-12 mb-20">
                                    <label for="id_first_name">First Name</label>
                                    <input required class="mb-0" type="text" name="first_name" id="id_first_name"
                                        name="first_name" placeholder="First Name">
                                </div>
                                <div class="col-md-6 col-12 mb-20">
                                    <label for="id_last_name">Last Name</label>
                                    <input required class="mb-0" type="text" name="last_name" id="id_last_name"
                                        name="last_name" placeholder="Last Name">
                                </div>
                                <div class="col-md-6 col-12 mb-20">
                                    <label for="id_username">Username*</label>
                                    <input required class="mb-0" type="text" name="username" id="id_username"
                                        name="username" placeholder="Username">
                                </div>
                                <div class="col-md-6 col-12 mb-20">
                                    <label for="id_email">Email Address*</label>
                                    <input required class="mb-0" type="email" name="email" id="id_email" name="email"
                                        placeholder="Email Address">
                                </div>
                                <div class="col-md-6 mb-20">
                                    <label for="id_password1">Password</label>
                                    <input required class="mb-0" type="password" name="password1" id="id_password1"
                                        name="password1" placeholder="Password">
                                </div>
                                <div class="col-md-6 mb-20">
                                    <label for="id_password2">Confirm Password</label>
                                    <input required class="mb-0" type="password" name="password2" id="id_password2"
                                        name="password2" placeholder="Confirm Password">
                                </div>
                                <div class="col-12">
                                    <button type="submit" style="cursor: pointer;" onclick="handleSubmit()" class="register-button mt-0">OTP Submit</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function handleSubmit(e) {
        e.preventDefault();
        window.location. href ="{% url 'shop:otp' %}";
    }
</script>

{% endblock content1 %}